/*<Подключаем шрифты>=======================================================================*/

@font-face {
   font-family: "Conv_Play-Bold";
   src: url("../fonts/Play-Bold.eot");
   src: local("☺"), url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.ttf") format("truetype"),
      url("../fonts/Play-Bold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Play-Regular";
   src: url("../fonts/Play-Regular.eot");
   src: local("☺"), url("../fonts/Play-Regular.woff") format("woff"),
      url("../fonts/Play-Regular.ttf") format("truetype"), url("../fonts/Play-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Roboto-Black";
   src: url("../fonts/Roboto-Black.eot");
   src: local("☺"), url("../fonts/Roboto-Black.woff") format("woff"),
      url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Roboto-Bold";
   src: url("../fonts/Roboto-Bold.eot");
   src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"),
      url("../fonts/Roboto-Bold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Roboto-Light";
   src: url("../fonts/Roboto-Light.eot");
   src: local("☺"), url("../fonts/Roboto-Light.woff") format("woff"),
      url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Roboto-Medium";
   src: url("../fonts/Roboto-Medium.eot");
   src: local("☺"), url("../fonts/Roboto-Medium.woff") format("woff"),
      url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Roboto-Regular";
   src: url("../fonts/Roboto-Regular.eot");
   src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
      url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Conv_Roboto-Thin";
   src: url("../fonts/Roboto-Thin.eot");
   src: local("☺"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"),
      url("../fonts/Roboto-Thin.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "../Conv_Unisans";
   src: url("fonts/Unisans.eot");
   src: local("☺"), url("../fonts/Unisans.woff") format("woff"), url("../fonts/Unisans.ttf") format("truetype"),
      url("../fonts/Unisans.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "HeavyCaps";
   src: url("fonts/UniSansHeavyCaps.eot");
   src: local("☺"), url("../fonts/UniSansHeavyCaps.woff") format("woff"),
      url("../fonts/UniSansHeavyCaps.ttf") format("truetype"), url("../fonts/UniSansHeavyCaps.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

/* ПЕРЕМЕННЫЕ============================================================================== */
:root {
   --minWidth: 320px;
   --maxwidht: 1400px;
   --maxWidthContainer: 1180px;
   --md1: 1192px;
   --md2: 991.98px;
   --md3: 767.98px;
   --md3: 479.98px;
}
/* Обнуление================================================================================== */
/* сбрасывает все стили у браузеров */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   color: #000;
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: "Roboto";
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/* ====================================================== */
/* Оболочка=================================================================================== */
.wraper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
/* Основная сетка=========================================================================== */
._container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 20px;
   /* @media (max-width: var(--md1)+px) {
      max-width: 970px;
   }
   @media (max-width: var(--md2)+px) {
      max-width: 750px;
   }
   @media (max-width: var(--md3)+px) {
      max-width: none;
      padding: 0 10px;
   } */
}
/* ШАПКА НАЧАЛО--------------------------------------------------------------------------------- */
.header {
   background: url(../img/bg_header1.jpg) top no-repeat;
}
.container {
   height: 150px;
}

.top-header__container {
   display: flex;
   height: 92px;
}
.top-header__logo {
   display: inline-block;
}
.top-header__column {
   flex: 0 1 50%;
}
.top-header__column_logo {
   padding: 0px 0px 0px 0px;
   flex: 0 0 190px;
   text-align: center;
   justify-content: flex-end;
}
.top-header__column_logo a:visited {
   color: black;
}

.icon-menu {
   display: none;
}

.top-header__menu {
   padding: 5px 0;
}
.menu {
   align-items: center;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
}
.menu__list li {
   flex: 0 1 30%;
   padding: 1px 0px;
}
.menu__link:hover {
   background-color: #ff99ff;
   border-radius: 20px;
}

.menu__link {
   font-family: Play;
   font-weight: bold;
   font-size: 14px;
   min-height: 27px;
   color: #808080;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0 5px;
   text-decoration: underline;
   transition: all 0.4s ease 0s;
}

.top-header__logo h2 {
   font-family: Roboto;
   font-weight: 500;
   font-size: 20px;
   letter-spacing: 2px;
}
.top-header__logo h5 {
   font-family: Roboto;
   font-weight: 300;
   font-size: 12px;
}
.top-header__contacts {
   padding: 30px 0 0 30px;
}
.contacts-header {
   display: flex;
   justify-content: center;
}
.contacts-header__column {
   border-left: 1px solid black;
   padding: 0 15px;
}
.contacts-header__column:first-child {
   border-left: none;
}

.contacts-header__icon {
   background: url(../img/phone1.png) left no-repeat;
   padding: 0 0 0 37px;
}
.contacts-header__label {
   font-size: 12px;
   font-weight: 300;
   padding: 0px 0px 5px 0px;
}
.contacts-header__phone {
   font-family: Roboto;
   font-weight: 900;
   font-size: 18px;
   color: grey;
   white-space: nowrap;
}

.bottom-header__container {
   height: 63px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1180px;
   font-family: Roboto;
   font-weight: 300;
}
.bottom-header__column {
   flex: 0 1 50%;
}

.actions-header li {
   margin: 0px 34px 0px 0px;
}
.actions-header {
   display: flex;
   align-items: center;
}
.actions-header li {
   margin: 0px 34px 0px 0px;
}
.actions-header__item:hover {
   color: #ff99ff;
}
.actions-header__item {
   padding: 0 0 0 36px;
   display: inline-block;
   line-height: 24px;
   color: #999999;
   transition: all 0.3s ease 0s;
}
.actions-header__item span {
   border-bottom: 1px dotted;
}
.actions-header__item_login {
   background: url(../img/enter.png) no-repeat;
}
.actions-header__item_login:hover {
   background: url(../img/enter_pink.png) no-repeat;
}

.actions-header__item_reg {
   background: url(../img/singup.png) no-repeat;
}
.actions-header__item_reg:hover {
   background: url(../img/singup_pink.png) no-repeat;
}

.actions-header__item_mail {
   background: url(../img/mail.png) left no-repeat;
}
.actions-header__item_mail:hover {
   background: url(../img/mail_pink.png) no-repeat;
}
.actions-header__item_mail span {
   border-bottom: 1px solid;
}

.info-header {
   display: flex;
   align-items: center;
   /* margin: 0px 0px 0px 140px; */
   justify-content: flex-end;
}
.info-header__column {
   padding: 0px 34px 0px 0px;
}
.info-header__column:last-child {
   padding: 0px;
}
.info-header__callback {
   display: inline-block;
   background: url(../img/callback.png) left no-repeat;
   padding: 0px 0px 0px 33px;
   line-height: 21px;
   color: grey;
}
.info-header__callback:hover {
   background: url(../img/callback_pink.png) left no-repeat;
   color: #ff99ff;
}

.info-header__callback span {
   border-bottom: 1px dotted;
}
.info-header__schedule {
   display: inline-block;
   background: url(../img/schedule.png) left no-repeat;
   padding: 0px 0px 0px 37px;
   line-height: 24px;
   color: grey;
}
.info-header__schedule span {
   font-weight: bold;
}
.info-header__cart {
   height: 43px;
   width: 43px;
   display: inline-block;
   background: url(../img/cart1.svg) 0 0 no-repeat;
   padding: 0px 0px 0px 37px;
   position: relative;
}
.info-header__cart span {
   position: absolute;
   right: -25px;
   top: -4px;
   line-height: 25px;
   padding: 0px 11px 0px 11px;
   border-radius: 20px;
   background-color: #f68038;
   font-size: 16px;
   font-weight: 700;
   color: white;
}

/* ШАПКА КОНЕЦ -------------------------------------------------------------------------------------------*/

@media (max-width: 1192px) {
   .contacts-header__column {
      padding: 0 5px;
   }
   .contacts-header__phone {
      font-size: 16px;
   }
   .contacts-header__icon {
      background-size: 15px;
      padding: 0px 0px 0px 25px;
   }
   .actions-header li {
      margin: 0px 15px 0px 0px;
   }
   .actions-header__item {
      padding: 0 0 0 30px;
   }

   .info-header__cart span {
      right: -10px;
   }
}
@media (max-width: 1138px) {
   .menu__list a {
      font-size: 12px;
   }
   .info-header__schedule {
      display: inline-block;
      padding: 0px 0px 0px 30px;
      line-height: 20px;
      color: grey;
      background: none;
      padding: 0;
   }
   .info-header__callback {
      background-size: 15px;
      padding: 0px 0px 0px 20px;
   }
   .info-header__column {
      padding: 0px 10px 0px 0px;
   }
}

@media (max-width: 1090px) {
   .contacts-header__phone {
      font-size: 14px;
   }
}
@media (max-width: 991.98px) {
   .contacts-header {
      justify-content: flex-end;
   }

   .contacts-header__column:last-child {
      border-left: none;
   }
   .contacts-header__item-seond-phone {
      display: none;
   }
}

/* burger ------------------------------------------------------------------------------------*/
@media (max-width: 994px) {
   .header {
      background: none;
   }
   body._lock {
      overflow: hidden;
   }
   .menu__body {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      top: -100%;
      left: 0;
      overflow: auto;
      padding: 100px 20px 30px 20px;
      z-index: 2;
      background-color: #fff;
      transition: all 0.5s ease 0s;
   }
   .menu__body::before {
      content: "";
      position: fixed;
      height: 75px;
      width: 100%;
      top: 0;
      left: 0;
      background: rgb(254, 210, 255);
      background: linear-gradient(0deg, rgba(254, 210, 255, 1) 37%, rgba(255, 242, 252, 1) 79%);
   }
   .menu__link:hover {
      background: none;
   }

   .menu__body._active {
      opacity: 1;
      top: 0;
      visibility: visible;
   }

   .menu__list {
      display: block;
   }
   .menu__link {
      color: black;
      text-decoration: none;
      padding: 0;
   }
   .menu__list a {
      font-size: 24px;
      text-decoration: none;
   }
   .menu__list li {
      margin: 0px 0px 20px 0px;
   }

   .top-header__column_logo {
      position: relative;
      z-index: 5;
   }
   .top-header__logo h5 {
      position: relative;
      z-index: 5;
   }
   .contacts-header__phone {
      font-size: 18px;
      position: relative;
      z-index: 5;
   }
   .contacts-header__label {
      position: relative;
      z-index: 5;
   }
   .contacts-header__icon {
      position: relative;
      z-index: 5;
   }

   .icon-menu {
      display: block;
      position: absolute;
      top: 35px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
   }
   .icon-menu span {
      transition: all 0.3s ease 0s;
      top: calc(50%-1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
   }
   .icon-menu span:first-child {
      top: 0px;
   }
   .icon-menu span:nth-child(2) {
      top: 8px;
   }
   .icon-menu span:last-child {
      top: auto;
      bottom: 0;
   }
   .icon-menu._active span {
      transform: scale(0);
   }
   .icon-menu._active span:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
   }
   .icon-menu._active span:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
   }
}

/* burger end  ----------------------------------------------------------------------------------------*/

@media (max-width: 940px) {
   .actions-header__item:hover {
      color: #ff99ff;
   }
   .actions-header__item {
      padding: 20px 0 20px 5px;
   }
   .actions-header__item_login {
      background: none;
   }

   .actions-header__item_reg {
      background: none;
   }
   .actions-header__item_mail {
      background: none;
   }
   .actions-header__item_mail span {
      border-bottom: 1px solid;
   }
   .info-header__schedule {
      display: none;
   }

   .info-header__column {
      padding: 10;
   }
   .info-header__callback {
      background: none;
      padding: 0;
   }
   .actions-header__item_login:hover {
      background: none;
   }
   .actions-header__item_reg:hover {
      background: none;
   }
   .actions-header__item_mail:hover {
      background: none;
   }
   .info-header__callback:hover {
      background: none;
   }
}
@media (max-width: 994px) {
   .header {
      background: none;
   }
   .icon-menu {
      top: 30px;
   }

   .top-header__container {
      background: rgb(254, 210, 255);
      background: linear-gradient(0deg, rgba(254, 210, 255, 1) 37%, rgba(255, 242, 252, 1) 79%);
      height: 75px;
   }
   .top-header__contacts {
      padding: 26px 0px 0px 0px;
   }
   .top-header__column_logo {
      flex: 0 0 100px;
   }
   .top-header__logo {
      width: 100px;
      height: 50px;
   }
   .top-header__logo img {
      max-width: 100%;
   }
   .top-header__logo h2 {
      display: none;
   }
}
@media (max-width: 660px) {
   .contacts-header__phone {
      background: url(../img/phone1.png) left no-repeat;
      width: 19px;
      height: 25px;
      display: inline-block;
      font-size: 0;
      vertical-align: middle;
   }
   .top-header__contacts {
      padding: 26px 0px 0px 0px;
   }

   .contacts-header__label {
      display: none;
   }
   .contacts-header__icon {
      background: none;
      padding: 0px 0px 0px 0px;
   }
}

@media (max-width: 540px) {
   .bottom-header__actions {
      justify-content: space-between;
   }
   .top-header__contacts {
      align-items: center;
   }
   .contacts-header {
      padding: 18px 0px 0px 0px;
   }
   .info-header__cart {
      position: relative;
      z-index: 3;
      width: 40px;
      height: 40px;
   }
   .info-header__cart span {
      font-size: 14px;
      line-height: 20px;
      padding: 0 5px;
   }
   ._container {
      padding: 0px 8px 0px 8px;
   }
   /* .bottom-header {
      visibility: hidden;
   } */
   .header {
      height: 75px;
   }
}

/*Основной контент -------------------------------------------------------------------------------------- */
.page {
   flex: 0 1 auto;
}
.page__conatiner {
   display: flex;
}
.page__side {
   flex: 0 1 260px;
}
.page__menu {
   position: relative;
}
.page__content {
   flex: 1 1 auto;
   padding: 0px 0px 0px 30px;
}
.menu-page {
   background: #fed9eb;
}
.menu-page__header {
   padding: 20px;
   display: flex;
   align-items: center;
}
.menu-page__tittle {
   font-family: HeavyCaps;
   font-size: 30px;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   line-height: 35px;
}
.menu-page__lines {
   background: #f3d4e4;
   flex: 0 0 36px;
   width: 36px;
   height: 36px;
   position: relative;
   padding: 10px 6px;
}
.menu-page__burger {
   position: relative;
   width: 24px;
   height: 16px;
   cursor: pointer;
   position: relative;
}
.menu-page__burger span {
   transition: all 0.3s ease 0s;
   top: calc(50%-1px);
   left: 0;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #000;
}
.menu-page__burger span:first-child {
   top: 0px;
}
.menu-page__burger span:nth-child(2) {
   top: 7px;
}
.menu-page__burger span:last-child {
   bottom: 0;
}
.menu-page__burger._active span {
   transform: scale(0);
}
.menu-page__burger._active span:first-child {
   transform: rotate(-45deg);
   top: calc(50% - 1px);
}
.menu-page__burger._active span:last-child {
   transform: rotate(45deg);
   bottom: calc(50% - 1px);
}

.menu-page__body {
   display: none;
}
.menu-page__body._active {
   display: flex;
}
.menu-page__list {
   width: 100%;
}
.menu-page__list li {
   border-bottom: 1px solid rgb(218, 198, 198);
}
.menu-page__link {
   letter-spacing: 0.3px;
   font-weight: 300;
   font-size: 14px;
   color: black;
   display: block;
   padding: 12px 20px;
   position: relative;
}
.menu-page__link_parent::after {
   content: "";
   width: 12px;
   height: 14px;
   border-top: 2px solid black;
   position: absolute;
   top: 50%;
   right: 20px;
}
.menu-page__link_parent::before {
   content: "";
   width: 12px;
   height: 14px;
   border-top: 2px solid black;
   position: absolute;
   top: 13px;
   right: 26px;
   transform: rotate(90deg);
}

.menu-page___link_parent {
}
.menu-page__submenu {
}
.submenu-page {
}

@media (min-width: 992px) {
   .menu-page__link:hover {
      background-color: #f3d4e4;
   }
}

/*Основной контент end-------------------------------------------------------------------------------------- */
